#cf7vb-redirect-panel {
    border-radius: 10px;
    border: 1px solid #D2D2D2;
    background: #FFF !important;
    padding: 0px !important;
}
.cf7vb-tab-wrap {
  padding: 16px 0px 10px 0px;
}
.tab-header {
  overflow: hidden;
  border-bottom: 2px solid rgba(22, 22, 23, 0.08);
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 0px 30px;
}

.tab-button {
  padding: 10px 0px 22px 0px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  color:#7C838A;
  font-family: 'Inter' !important;
  font-size: 14px !important;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.tab-button:hover {
  color: #080E13;
}

.tab-content {
  display: none;
  padding: 20px 30px 0px;
}

.show {
  display: block;
}

.tab-button.active {
  color: #080E13;
  border-bottom: 2px solid #3767FB;
}

.cf7vb-submit .submit {
  margin: 0px;
  padding: 0px;
}

@media only screen and (max-width: 767px) {
    .tab-header {
      gap: 30px;
    }

}
.cf7vb-redirect-enable input[type=checkbox],
.cf7vb-new-tab input[type=checkbox] {
  width: 16px;
  height: 16px;
  padding: 2.5px 2px 2.5px 3px;
  border-radius: 4px;
  border: 1px solid #3767FB;
  background:#fff;
  box-shadow: none;
  outline: none;
}

/* .cf7vb-redirect-enable input[type=checkbox]:checked::before,
.cf7vb-new-tab input[type=checkbox]:checked::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M2.29175 6.4585L4.12508 8.29183L8.70841 3.7085" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    display: flex;
    align-items: center;
    justify-content: center;
    
} */

/* coming soon */

.tab-content h3 {
    color: red;
    font-size: 25px;
    line-height: 28px;
    text-transform: capitalize;
    margin-top: 50px;
    margin-bottom: 60px;
}